:host {
  display: flex;
  justify-content: center;
}
.drag-drop-area {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.drag-drop-area p {
  margin: 0;
}

.drag-drop-area:hover {
  background-color: #f2f2f2;
}
